.mainSettingscontent {
  flex-grow: 1;
  padding: 20px 40px;
    margin: 0;
}

.mainSettingscontent img {
    display: block;
    margin-left: auto;
    margin-right: auto;
}
.mainSettingscontent div.c {
    text-align: center;
    padding-top: 35px;
}
.mainSettingscontent div h1 {
    padding-left:5px;
    font-weight: bold;
    color: #ce5e5e;
    font-size: 45px;
    display: inline;
}

.mainSettingscontent div h2 {

    padding-left:40px;
    color: #ffffff;
    font-size: 35px;
    display: inline;
}


.mainSettingscontent TextField{
    padding-top: 20px;
    padding-left:5px;
    font-weight: bold;
    color: #ce5e5e;
    font-size: 45px;
    display: inline;
}