.mainProfile {
  width: 20%;
  padding: 0 20px 0 40px;
  transition: all 0.3s ease-in-out;
  overflow: hidden;
  position: relative;
}
.profileCard {
  background-color: rgba(14, 137, 106, 0.53);
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  transform: scale(0);
  animation-name: showIn;
  animation-duration: 0.2s; /* or: Xms */
  animation-iteration-count: 1;
  animation-direction: normal; /* or: normal */
  animation-timing-function: cubic-bezier(
    0.17,
    0.67,
    0.12,
    1.53
  ); /* or: ease, ease-in, ease-in-out, linear, cubic-bezier(x1, y1, x2, y2) */
  animation-fill-mode: both; /* or: backwards, both, none */
  animation-delay: 0.3s; /* or: Xms */
  margin-bottom: 15px;
}
.profileCard.userPImage {
  padding: 20px 20px;
}
.profileCard .profileImage {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  overflow: hidden;
}
.profileCard .profileImage img {
  object-fit: cover;
  max-width: 100%;
}
.profileCard h4 {
  margin-bottom: 0;
}
.profileCard p {
  margin-top: 10px;
  font-size: 14px;
  color: #2d8edc;
}
.profileCard .cardHeader {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  cursor: pointer;
  padding: 15px 20px;
}
.profileCard .cardHeader h4 {
  margin: 0;
}
.profileCard .cardHeader i {
  font-size: 20px;
}
.cardContent {
  border-top: 1px solid #3f1ebf;
  overflow: auto;
  width: 100%;
  padding: 15px 20px;
  color: #db1a1a;
  font-size: 14px;
  display: none;
  transform-origin: top;
  animation-name: showIn;
  animation-duration: 0.2s; /* or: Xms */
  animation-iteration-count: 1;
  animation-direction: normal; /* or: normal */
  animation-timing-function: cubic-bezier(
    0.88,
    0.19,
    0.37,
    1.11
  ); /* or: ease, ease-in, ease-in-out, linear, cubic-bezier(x1, y1, x2, y2) */
  animation-fill-mode: both; /* or: backwards, both, none */
  animation-delay: 0.2s; /* or: Xms */
}
.profileCard.open .cardContent {
  display: block;
}
.profileCard.open .cardHeader i:before {
  content: "\f106";
}
