// Colors

$bg: #eeeeee;
$border: #b9b9b9;
$surface: #ffffff;
$primary: #1a8fe3;
$primaryHover: #117bc7;
$onPrimary: #ffffff;
$secondary: #57886c;
$secondaryHover: #488161;
$onSecondary: #ffffff;

// UI variables
$cornerRadiusSize: 5px;