.mainProfilecontent {
  flex-grow: 1;
  padding: 40px 40px;
    margin: 0;
}

.mainProfilecontent img {
    display: block;
    margin-left: auto;
    margin-right: auto;
}
.mainProfilecontent div.c {
    text-align: center;
}
.mainProfilecontent div h1 {
    font-weight: bold;
    color: #fff;
    font-size: 45px;
}

.mainProfilecontent div h2 {
    color: #f64242;
    font-size: 35px;
}



