@mixin card($padding: 14px) {
  background-color: $surface;
  border-radius: $cornerRadiusSize;
  padding: $padding;
  overflow: hidden;
  box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
}